DATASOURCE_URL=
DATASOURCE_USER=
DATASOURCE_PASSWORD=
FRONTEND_URL=http://localhost:3000
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=smtp.gmail.com
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRATION=86400000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
STRIPE_API_KEY=